@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    font-family: "Oswald", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.header{
  width:100%;
  background-color: white;
  height:115px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.h1{
  color:#295061;
  text-align: center;
  font-size:50px;
  font-weight: 800;
}


.body {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color:#295061;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.main{
  display: flex;
  flex-flow: row;
  padding: 0;
  margin:0;

  
  /* background: rgba(42, 116, 116, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px; 
  overflow: hidden;  */
}


img{
  flex:1;
  width:85%;
  height: 100%;
  z-index:-1;
  opacity:0.7;


}
  .inputs{

    display:flex;
    flex-flow: column;
    gap:30px;
    padding:10px;
    align-items: center;
    justify-content: center;
    
   
    
  }
 
  input{
    padding: 5px;
    
    
  }

 

  .f3.f1.f3{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    

  }
  label{
    align-self: flex-start;
    
  }
  label,input{

    margin:15px;
  }

  .f1 p,
  .f2 p,
  .f3 p
  {
    font-size: 24px;
    font-weight: 800;
    color:white;
    text-align: center;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  
  }


  /* input.css */




.inputs label {

  margin-bottom: 5px;
  font-weight: bold;

  color: white;
}

.inputs input,
.inputs textarea {
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
    background-color: whitesmoke;
}
.inputs input{
  color: darkslategrey;
}

.inputs textarea {
  height: 80px;
  resize: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  outline:none;
  border:none;
  width:250px;
  height:50px;
  border-radius: 10px;
  background-color: #b8fdff;
  justify-self: center;
  text-align: center;
  color:#295061;
  font-weight: 700;
  font-size: 16px;
  cursor:pointer;

  
}
button:hover{
  opacity:0.7;
}
